{{> headerDark data=header}}

<main class="hero">

    {{#with hero}}
    <div class="hero_content">
        <h1 class="hero_title">{{title}}</h1>
        <p class="hero_text">{{description}}</p>
    </div>

    {{#with button}}
    <button type="submit" class="button" href="{{url}}">{{text}}</button>
    {{/with}}

    {{/with}}

</main>

<div class="about">
    {{#with about}}
    <h1 class="about_title">{{heading}}</h1>
    <p class="about_text">{{info}}</p>
    {{/with}}
</div>

{{#each articles}}
{{> articleCardDark data=this}}
{{/each}}

{{> footerDark data=footer}}