<header class="header">
    {{#with header}}
    <a href="#">
        {{>logo}}
    </a>
    <div>
        {{#each links}}
        <a href="{{url}}" class="nav_link">{{text}}</a>
        {{/each}}
    </div>
</header>

<div class="header_under">
    <div>{{>logo7}}</div>
    <div>
        {{#with ad}}
        <span class="header_text">{{text}}: {{url}}</span>
        {{/with}}
    </div>
    <div>user Online: {{userOnline}}</div>
</div>
{{/with}}

<main class="hero">

    {{#with hero}}
    <div class="hero_content">
        <h1 class="hero_title">{{title}}</h1>
        <p class="hero_text">{{description}}</p>
    </div>

    {{#with button}}
    <button type="submit" class="button" href="{{url}}">{{text}}</button>
    {{/with}}

    {{/with}}

</main>

<div class="about">
    {{#with about}}
    <h1 class="about_title">{{heading}}</h1>
    <p class="about_text">{{info}}</p>
    {{/with}}
</div>

<div class="card">
    {{#each articles}}
    <div class="card_content">
        <div class="card_photo">
            {{id}}
            <img src="{{photo}}" alt="card photo" class="card_image">
        </div>
        <div class="card_name">{{name}}</div>
        <p class="card_text">{{description}}</p>
    </div>
    {{/each}}
</div>

<div>
    <footer class="footer">
        {{#each footer}}
        <div>{{copyright}}</div>
        {{/each}}
    </footer>
</div>